{% extends 'modelobase.html' %}

{% load static %}

{% block titulo %}
<title>Página de Listagem de Registro</title>
{% endblock %}

{% block conteudo %}
<!-- 
<h3>Lista de Atividades cadastradas</h3>
<p style="text-align: right;">
    <a href="{% url 'cadastrar-atividade' %}" class="btn btn-primary btn-sm">Nova</a></td>
</p>
-->
<div class="table-responsive">
    <table width="100%">
        <tr>
            <td>
                <h3>Lista de Atividades cadastradas</h3>
            </td>
            <td style="text-align: right;">
                <a href="{% url 'cadastrar-atividade' %}" class="btn btn-primary btn-sm">Nova</a>
            </td>
        </tr>
    </table>
</div>
<br>

<!-- A class "table-responsive do Bootstrap para a tag DIV deixa a tabela responsiva ao ser
 visualizada em celulares "-->
<div class="table-responsive">
    <!-- A class "table table-striped" do Bootstrap para a tag TABLE dá um visual organizado, com as 
     linhas variando cor de fundo. -->
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Número</th>
            <th>Descrição</th>
            <th>Pontos</th>
            <th>Detalhes</th>
            <th>Campo</th>
            <th>Opções</th>
        </tr>

        <!-- Assim "{{ object }}", a variável {{ objecti_list }} também é pré-definida no Tango -->
        {% for atividade in object_list %}
        <tr>
            <!-- "pk" sempre se refere ao campo de índice do banco, mas em geral não é uma informação
             interessante para o usuário. Mostrar apenas se for útil. -->
            <td>{{ atividade.pk }}</td>
            <td>{{ atividade.numero }}</td>
            <td>{{ atividade.descricao }}</td>
            <td>{{ atividade.pontos }}</td>
            <td>{{ atividade.detalhes }}</td>
            <td>{{ atividade.campo }}</td>
            <td>
                <a href="{% url 'editar-atividade' atividade.pk %}" class="btn btn-warning btn-sm" 
                    title="Editar">E</a>
                <a href="{% url 'excluir-atividade' atividade.pk %}" class="btn btn-danger btn-sm" 
                    title="Excluir">X</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhuma Atividade registrada.</td>
        </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}